<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/app.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Finns Wiki</title>
  </head>
  <body>
    <!-- Begin Header -->
    <header>
      <span class="logo">
        <!-- LOGO GOES HERE -->
        <a href="/">
          <img border="0" alt="Wiki" src="/images/logo.svg" width="100" height="100">
        </a>
      </span>
      <h1>Finn's Wiki</h1>
      <nav class="navigation">
        <ul>
          <li><a href="/user/login">Log-in</a></li>
          <li><a href="#">Bunchy</a></li>
          <li><a href="#">Munchy</a></li>
        </ul>
      </nav>
    </header>
    <hr>
    <!-- Close Header -->

    <%- body %>


    <!-- Begin Footer -->
    <hr>
    <h5>Finn Borge</h5>
    <!-- Close Footer -->
    <script src="/scripts/app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
