<form action="/welcome" method="post">
  <div class="form-group">
    <input type="email" class="form-control" name="user[email]" placeholder="Email address"/>
    <input type="password" class="form-control" name="user[password]" placeholder="password"/>
  </div>
        <!-- submit -->
        <input type="submit"/>

  <h3>Perhaps you'd like to <a href="/user/new">make an account</a>?</h3>
</form>
