<!-- New Article Form -->

<form action="/article" method="post">
  <!--
  Title: String
  Body: String
  Tags: [String, String, etc.] :: these should be checkboxes and more should be added if custom is defined
  -->
    <input type="text" class="form-control" name="article[title]" placeholder="Title"/>
    
    <% include %>
    <% %>

  <input type="submit"/>
</form>
