/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
    HEADER styling start
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
ul {
  padding: 0px;
  list-style: none;
}

li {
  display: inline-block;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 20px;
}

header span{
  display: inline-block;
}

header h1{
  display: inline-block;
}

header ul {
  display: inline-block;
}

/* Large */
.navigation {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
    HEADER styling end
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      MAIN styling start
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
body {
  background-color: white;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      MAIN styling end
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */







/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      FORM styling start
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
input[type="radio"], input[type="checkbox"] {
  display: none;
}

label {
  border: 1px solid black;
  padding: 5px;
  font-size: 12px;
  margin-left: 3px;
  transition: .3s;
}

input[type="radio"]:checked + label {
  background-color:darkgreen;
  color: white;
  transform: scale(1.2,1.2);
}

input[type="checkbox"]:checked + label{
  background-color:steelblue;
  transform: rotate(900deg);
}

input[type="text"], input[type="password"], input[type="email"]{
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
  border: 1px solid black;
  max-width: 600px;
  transition: .5s
}

input[type="text"]:focus, input[type="email"]:focus{
  transform: scale(2,2);
  margin-top: 25px;
  margin-bottom: 25px;
}

input[type="submit"]{
  margin-left: 5px;
}

div.form-group {
  margin-right: 10px;
  margin-bottom: 0px;
}

form {
  width: 50%;
  margin: 0 auto;
  margin-top: 80px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      FORM styling end
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
