/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
    HEADER styling start
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
ul {
  padding: 0px;
  list-style: none;
}

li {
  display: inline-block;
}

header {
  width: 90vw;
  align-items: flex-end;
  margin: 0 auto;
  margin-top: 20px;
}

header span{
  display: inline-block;
}

header ul {
  display: inline-block;
  float: right;
  margin-top: 80px;
}

/* Large */
.navigation {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
    HEADER styling end
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      VIEW.EJS styling start
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
body {
  background-color: white;
}

.container {
  transform: perspective( 600px );
  width: 80vw;
  height: 360px;
  position: relative;
}

#viewer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center;
  margin: 0 auto;
}

#viewer figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#viewer .viewpublished {
}

#viewer .edit {
  transform: rotateY( 180deg );
}

#viewer .edit input[type="text"]{
  margin-top: 20px;
}

#viewer.viewedit {
  transform: translateX( -100% ) rotateY( -180deg );
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      VIEW.EJS styling end
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* Login style */
#login{
  width: 50%;
  margin: 0 auto;
}

/* Index style */
#index{
  width: 70%;
  margin: 20px 20px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      FORM styling start
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#title{
  margin: 0 auto;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

label {
  border: 1px solid black;
  padding: 5px;
  font-size: 12px;
  margin-left: 3px;
  transition: .3s;
}

input[type="radio"]:checked + label {
  background-color:darkgreen;
  color: white;
  transform: scale(1.2,1.2);
}

input[type="checkbox"]:checked + label{
  background-color:steelblue;
  transform: rotate(900deg);
}

input[type="text"], input[type="password"], input[type="email"]{
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
  border: 1px solid black;
  max-width: 600px;
  transition: .5s
}

input[type="text"]:focus, input[type="email"]:focus{
  transform: scale(1.5,1.5);
  margin-top: 25px;
  margin-bottom: 25px;
}

input[type="submit"]{
  margin-left: 5px;
}

div.form-group {
  margin-right: 10px;
  margin-bottom: 0px;
}

form {
  width: 90%;
  margin: 0 auto;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      FORM styling end
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      TALK.EJS styling
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.talkcontainer {
  transform: perspective( 800px );
  width: 90vw;
  margin: 0 auto;
  height: 200px;
  position: relative;
}

.talkcontainer .hidden{
  opacity: 0;
}

#published{
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background-color: #66FF99;
  transition: transform 1s;
}

#edited{
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background-color: #FF9999;
  transition: transform 1s;
}

#votebox{
  background-color: steelblue;
  min-height: 100px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#votebox label {
  border: 1px solid black;
  width: 90px;
  height: 90px;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
}

#votebox #vote-published:checked + label {
  background-color:#66FF99;
  color: white;
  transform: scale(1.2,1.2);
}

#votebox #vote-edited:checked + label {
  background-color:#FF9999;
  color: white;
  transform: scale(1.2,1.2);
}



/* #talkleft .talkpublished #talkright .talkedited */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      TALK.EJS styling end
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
