/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
    HEADER styling start
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
ul {
  padding: 0px;
  list-style: none;
}

li {
  display: inline-block;
}

header {
  width: 90vw;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

header span.logo{
  display: inline-block;
  width: 200px;
}

header ul {
  margin-top: 80px;
  width: 200px;
  display: inline-flex;
  align-content: flex-end;
  justify-content: flex-end;
}

header ul li{
  margin: 0px 2px;
}

#flashbox {
  display: inline-flex;
  align-self: flex-end;
  max-width: 500px;
  min-width: 300px;
  height: 100px;
  opacity: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}

#flashbox * {
  display: flex;
  justify-content: center;
  align-items: center;
}
#flashbox #admin-tools{
  opacity: 0;
}

#flashbox #admin-tools.true{
  opacity: 1;
}

#flashmessage {
  max-height: 35px;
  width: 500px;
  opacity: 1;
  transition: transform 1.6s;
}

#flashmessage.hide-flash-message{
  opacity: 0;
}

/* Large */
.navigation {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
    HEADER styling end
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      VIEW.EJS styling start
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
body {
  background-color: white;
}

.container {
  transform: perspective( 600px );
  width: 80vw;
  height: 360px;
  position: relative;
}

#viewer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center;
  margin: 0 auto;
}

#viewer figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#viewer .viewpublished {
}

#viewer .edit {
  transform: rotateY( 180deg );
}

#viewer .edit input[type="text"]{
  margin-top: 20px;
}

#viewer.viewedit {
  transform: translateX( -100% ) rotateY( -180deg );
}

#delete {
  opacity: 1;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      VIEW.EJS styling end
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* Login style */
#login{
  width: 50%;
  margin: 0 auto;
}

/* Index style */
#index{
  width: 70%;
  margin: 20px 20px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      FORM styling start
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#title{
  max-width: 60vw;
  margin: 0 auto;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

label {
  border: 1px solid black;
  padding: 5px;
  font-size: 12px;
  margin-left: 3px;
  transition: .3s;
}

input[type="radio"]:checked + label {
  background-color:darkgreen;
  color: white;
  transform: scale(1.2,1.2);
}

input[type="checkbox"]:checked + label{
  background-color:steelblue;
  transform: rotate(900deg);
}

input[type="text"], input[type="password"], input[type="email"]{
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
  border: 1px solid black;
  max-width: 600px;
  transition: .5s
}

input[type="text"]:focus, input[type="email"]:focus{
  transform: scale(1.5,1.5);
  margin-top: 25px;
  margin-bottom: 25px;
}

input[type="submit"]{
  margin-left: 5px;
}

div.form-group {
  margin-right: 10px;
  margin-bottom: 0px;
}

form {
  width: 90%;
  margin: 0 auto;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      FORM styling end
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      TALK.EJS styling
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.talkcontainer {
  transform: perspective( 800px );
  width: 90vw;
  margin: 0 auto;
  height: 200px;
  position: relative;
}

.talkcontainer .hidden{
  opacity: 0;
}

#published{
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background-color: #66FF99;
  transition: transform 1s;
}

#edited{
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background-color: #FF9999;
  transition: transform 1s;
}

#votebox{
  background-color: #6699FF;
  min-height: 100px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#votebox label {
  border: 1px solid black;
  width: 90px;
  height: 90px;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
}

#votebox #vote-published:checked + label {
  background-color:#66FF99;
  color: white;
  transform: scale(1.2,1.2);
}

#votebox #vote-edited:checked + label {
  background-color:#FF9999;
  color: white;
  transform: scale(1.2,1.2);
}

#comments {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  /* Comments Div with .comment Spans in it*/
}


/* #talkleft .talkpublished #talkright .talkedited */

.comment-clicker{
  background-color: green;
  color: white;
  transition: transform 0.6s;
}

.comment-clicker:hover{
  transform: scale(1.5);
}

.hidden-comment{
  display: none;
}

.comment{
  display: flex;
  background: #6699FF;
  margin: 0 auto;
  width: 80vw;
  align-items: center;
  justify-content: center;
}

.comment form{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      TALK.EJS styling end
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      index.EJS styling
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#index{
  width:90vw;
  margin: 0 auto;
}

.index-category{
  width:80%;
  margin: 10px auto;
  font-size: 30px;
  -webkit-box-shadow: -2px 2px 5px 0px rgba(138,172,184,1);
  -moz-box-shadow: -2px 2px 5px 0px rgba(138,172,184,1);
  box-shadow: -2px 2px 5px 0px rgba(138,172,184,1);
  transition: 0.3s;
}

.index-category:hover{
  -webkit-box-shadow: -2px 2px 5px 2px rgba(138,172,184,1);
  -moz-box-shadow: -2px 2px 5px 2px rgba(138,172,184,1);
  box-shadow: -2px 2px 5px 2px rgba(138,172,184,1);
  transform: scale(1.02);
}

.index-article-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 20vw;
}

.index-article-container div{
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
  transition: 0.6s;
}

.index-article-container div.user-voted{
  background-color: black;
}

.index-article-container div:hover{
  border: 1px solid red;
  background-color: floralwhite;
  color: white;
}

div.voters-1:hover{
  background-color: #FFCCFF;
  transform: scale(1.1);
}
div.voters-2:hover{
  background-color: #FF99FF;
  transform: scale(1.2);
}
div.voters-3:hover{
  background-color: #FF66FF;
  transform: scale(1.3);
}
div.voters-4:hover{
  background-color: #FF33CC;
  transform: scale(1.4);
}
div.voters-5:hover{
  background-color: #CC3399;
  transform: scale(1.5);
}
div.voters-6:hover{
  background-color: #993366;
  transform: scale(1.6);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
      index.EJS styling end
>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
